* {
  margin: 0;
  padding: 0;
  font-family: "ubuntu-Regular", sans-serif;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: hsl(206, 94%, 87%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-family: "ubuntu-Bold", sans-serif;
}

.container{
  background-color: var(--White);
  max-width: 800px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.firstSection{
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  min-width: 250px;
  height: 500px;
  background-size: contain;
  padding: 20px;
  margin: 54px;
}




/* Miscellaneous */
:root {
    --Marineblue: hsl(213, 96%, 18%);
    --Purplishblue: hsl(243, 100%, 62%);
    --Pastelblue: hsl(228, 100%, 84%);
    --Lightblue: hsl(206, 94%, 87%);
    --Strawberryred: hsl(354, 84%, 57%);

 /* Neutral */

    --Coolgray: hsl(231, 11%, 63%);
    --Lightgray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
    font-family: "ubuntu-Bold", sans-serif;
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
  }
  @font-face {
    font-family: "ubuntu-Medium", sans-serif;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
  }
  @font-face {
    font-family: "ubuntu-Regular", sans-serif;
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
  }